body {padding-top: 200px;
      font-weight: bold;
      background-color:black;
      color: White;
      background-image: ;
}
nav{
  background-image: url("../../images/ng/awhum_waterfalls.jpg");
}
.marketing .col-lg-4 p {

}
.navbar a{
  color: White;
  background-color: black;
  font-weight: 1200px;
}
a {
  visited:blue;
}
.jumbotron{
  text-align: center;
}
 .dropdown-item{
   color:whitesmoke;
 }
 .dropdown-menu {
   max-height: 100px;
   overflow-y: scroll;
 }
.foot {   background-color: black;
       padding: 30px 130px 5px 150px;
       margin: 5 0 2 0;
       border: 1px solid;
       }
 .box {
   border: 2px solid;
   border-color: lime;
   padding:4px;
   background-color: black;
 }
.abt {color: white;
      background-color: black;}

.md_4_head2{
  color: ;
  font-weight: ;
    background-color: black;
}
.btn-secondary {
    color: #fff;
    background-color: #007bff;
    border-color: #6c757d;
}
span.navbar-toggler-icon {background-color: black;}

#tablemt { width: 600px; height: 500px;}
#Serengeti {width: 600px; height: 500px;}
#Djemaa { width: 600px; height: 500px;}
#aburi { width: 600px; height: 500px;}
