body {padding-top: 150px;
      font-weight: bold;
      background-color:black;
      color: brown;
      background-image: ;
}
nav{
  background-image: url("../../images/ng/awhum_waterfalls.jpg");
}
.marketing .col-lg-4 p {

}
.navbar a{
  color: White;
  background-color: black;
  font-weight: 1200px;
}

.navbar-toggler {
   color: brown;
   background-color: black;}
a {
  visited:blue;
}
.jumbotron{
  text-align: center;
}
 .dropdown-item{
   color:whitesmoke;
 }
 .dropdown-menu {
   max-height: 100px;
   overflow-y: scroll;
 }
.foot {   background-color: black;
       padding: 30px 130px 5px 150px;
       margin: 2 0 2 0;
       border: 1px solid;
       }
 .box {
   border: 2px solid;
   border-color: ;
   padding:4px;
   background-color: black;
 }

.rabt {color: white;
      background-color: green;
    border-radius: 2px solid;
  margin: 20px;}

.md_6_head2{
  color: brown ;
  font-weight: ;
    background-color: green;
}
.col-md-6 {
  background: linear-gradient(45deg, lime, yellow, transparent);
}
.btn-secondary {
    color: white;
    background-color: green;
    border-color: whitesmoke;
}
span.navbar-toggler-icon {background-color: black;}
h1.display-3 {
      padding: 20px;
      font-family: serif;
}
#ubunt{
  text-align: center;
  margin-bottom: 1px
}
#welcome {
  margin-top: 30px;
  border-radius: 120px;
}
#myCarousel { width: auto; height: auto;
padding: 0 -10 0 10 ;
border: 0; }
#aytlogo { width:80px; height: 80px;}
#tablemt { width: 600px; height: 400px;}
#Serengeti {width: 600px; height: 400px;}
#jemaa { width: 600px; height: 400px;}
#manovo { width: 600px; height: 400px;}
#NubiaArt { width: 600px; height: 400px;}
#bojo { width: 600px; height: 400px;}
#rwenz { width: 600px; height: 400px;}
#nubiaday { width: 600px; height: 400px;}
#Osogbo { width: 600px; height: 400px;}
#vfalls { width: 600px; height: 400px;}
