body {padding-top: 200px;
      font-weight: bold;
      background-color:black;
      color: White;
      background-image: ;
}
nav{
  background-image: url("../../images/ng/awhum_waterfalls.jpg");
}
.marketing .col-lg-4 p {

}
.navbar a{
  color: White;
  background-color: black;
  font-weight: 1200px;
}
a {
  visited:blue;
}
.jumbotron{
  text-align: center;
}
 .dropdown-item{
   color:whitesmoke;
 }
 .dropdown-menu {
   max-height: 100px;
   overflow-y: scroll;
 }
.foot {   background-color: black;
       padding: 30px 130px 5px 150px;
       margin: 5 0 2 0;
       border: 1px solid;
       }
 .box {
   border: 2px solid;
   border-color: lime;
   padding:4px;
   background-color: black;
 }
.abt {color: white;
      background-color: black;}

.md_4_head2{
  color: ;
  font-weight: ;
    background-color: black;
}
.btn-secondary {
    color: #fff;
    background-color: #007bff;
    border-color: #6c757d;
}
span.navbar-toggler-icon {background-color: black;}

#myCarousel { width: auto; height: auto;
padding: 0 -10 0 10 ;
border: 0; }
#aytlogo { width:80px; height: 80px;}
#tablemt { width: 600px; height: 500px;}
#Serengeti {width: 600px; height: 500px;}
#jemaa { width: 600px; height: 500px;}
#manovo { width: 600px; height: 500px;}
#NubiaArt { width: 600px; height: 500px;}
#bojo { width: 600px; height: 500px;}
#rwenz { width: 600px; height: 500px;}
#nubiaday { width: 600px; height: 500px;}
#Osogbo { width: 600px; height: 500px;}
#vfalls { width: 600px; height: 500px;}
